<div style="width: 1920px; height: 1080px; background-color: white;border: solid 10px black;">
  <br />
  <div class="container"  transition-style="in:square:hesitate">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4" style="font-weight: 700;">Albania</h1>
          <p class="lead" style="word-spacing: 5px;"><b style="font-weight: 700;">Comisionado:</b> Blendi Gonxhja, Minister of Economy, Culture and Innovation
           <b style="font-weight: 700;">Curador:</b>  Antonio Grulli-
            <b style="font-weight: 700;">Artista:</b> Iva Lulashi-
            <b style="font-weight: 700;">Lugar:</b> Arsenale</p>
        </div>
      </div>

    <swiper-container
      class="mySwiper"
      pagination="true"
      pagination-type="progressbar"
      navigation="true"
    >
      <swiper-slide
        ><img
          src="https://fastly.picsum.photos/id/1/5000/3333.jpg?hmac=Asv2DU3rA_5D1xSe22xZK47WEAN0wjWeFOhzd13ujW4"
      /></swiper-slide>
      <swiper-slide><img
        src="https://fastly.picsum.photos/id/12/2500/1667.jpg?hmac=Pe3284luVre9ZqNzv1jMFpLihFI6lwq7TPgMSsNXw2w"
    /></swiper-slide>
      <swiper-slide><img
        src="https://fastly.picsum.photos/id/10/2500/1667.jpg?hmac=J04WWC_ebchx3WwzbM-Z4_KC_LeLBWr5LZMaAkWkF68"
    /></swiper-slide>
      <swiper-slide><img
        src="https://fastly.picsum.photos/id/1/5000/3333.jpg?hmac=Asv2DU3rA_5D1xSe22xZK47WEAN0wjWeFOhzd13ujW4"
    /></swiper-slide>
   
    </swiper-container>
  </div>
  <br />
  <div class="container" >
    <div class="row">
      <div class="col-6" transition-style="in:square:hesitate" >
        <h3 style="font-weight: 800; display: flex;
        justify-content: center;  /* Centrado horizontal */
        align-items: center;      /* Centrado vertical */
        height: 300px; ">DESCRIPCIÓN</h3>
      </div>
      <div class="col-6" transition-style="in:wipe:up" >
        <p style="font-size: 15px; font-style: italic; text-align: justify">
          En suuu proyecto expositivo, la pintora <b>Iva Lulashi </b>evoca la “teoría del
          vaso de agua”, que data del período prerrevolucionario ruso y está
          vinculada a la pensadora feminista Alexandra Kollontai (1872-1952). La
          teoría se basa en la idea de una revolución sexual, en la que los
          impulsos se perciben como una necesidad que se satisface con la
          despreocupación con la que se bebe un vaso de agua. El amor, el sexo y
          el deseo pueden hacer o deshacer nuestras vidas. La obra de Iva
          Lulashi gira en torno a estos temas universales eternamente
          revolucionarios, capaces de trascender las diferencias y superar las
          fronteras, no solo las geográficas. Las imágenes de sus cuadros están
          extraídas de fotogramas de películas y vídeos, sugieren situaciones
          vinculadas al acto erótico y están pobladas principalmente por cuerpos
          femeninos. Su estilo mezcla la tradición pictórica albanesa con la
          italiana y veneciana. Los espacios del pabellón están creados
          siguiendo el plan arquitectónico estilizado y simplificado de la
          casa/estudio de la artista. Los visitantes pueden admirar sus obras en
          los espacios en los que nacen y viven, entre la intimidad, el
          voyeurismo y la crítica institucional. Nacida en Albania, Iva Lulashi
          se formó como pintora en Venecia, asistiendo a la Academia de Bellas
          Artes local.
        </p>
      </div>

     
<button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg"
style="
  border-radius: 50px;
  width: 100px;
  height: 100px;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: 100px;
  top: 950px;
  z-index: 1;
  background-color: black;
  color: white;
"
routerLink="/mapa">
<i class="fa-solid fa-circle-chevron-left"></i>
</button>

<button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg"
style="
  border-radius: 50px;
  width: 100px;
  height: 100px;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  right: 100px;
  top: 950px;
  z-index: 1;
  background-color: black;
  color: white;
"
routerLink="/">
<i class="fa-solid fa-home"></i>
</button>


    </div>
  </div>
</div>
