#map {
    height: 1080px;
    
  }

  .imagen1{
   
    height: 80px;
    width: 150px;
    
  }

  .leaflet-default-icon-path {
    background-image: url('/icons/shadow.png');
}

.rojo {
  filter: sepia(1) saturate(5) hue-rotate(20deg);
}

