
<br><br>

<p class="a1">Desliza para conocer la Bienal</p><br><br><br><br><br><br><br><br><br><br>
<div class="container">
<p style="text-align: left;">
<swiper-container class="mySwiper"  pagination="false" effect="coverflow"  grab-cursor="true" centered-slides="true"
slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="200"  initialSlide="0"
coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true"  >
<swiper-slide routerLink="/ong" >
  <img src=" https://swiperjs.com/demos/images/nature-1.jpg" />

</swiper-slide>
<swiper-slide routerLink="/mapa">
  <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
</swiper-slide>
<swiper-slide >
  <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
</swiper-slide>
<div class="swiper-pagination"></div>
<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>


</swiper-container>
</p>
</div>

